.qualification__container {
    max-width: 768px;
    margin: 0 auto;
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.qualification__button {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--title-color);
    margin: 0 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.qualification__button:hover {
    color: var(--title-color-dark);
}

.qualification__icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.qualification__active {
    color: var(--title-color-dark);
}

.qualification__sections {
    margin-top: 2rem;
}

/* Timeline Customization */
.vertical-timeline-element--education .vertical-timeline-element-content {
    background: var(--container-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
    background: var(--container-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.vertical-timeline-element-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--title-color);
}

.vertical-timeline-element-subtitle {
    font-size: 0.875rem;
    color: var(--text-color-light);
}

/* Responsive Design */
@media screen and (max-width: 992px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .qualification__container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .qualification__text {
        font-size: var(--h3-font-size);
    }

    .vertical-timeline-element-title {
        font-size: var(--normal-font-size);
    }

    .vertical-timeline-element-subtitle {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 576px) {
    .qualification__sections {
        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 0.75rem;
    }

    .qualification__text {
        font-size: var(--h3-font-size);
    }

    .vertical-timeline-element-title {
        font-size: var(--normal-font-size);
    }

    .vertical-timeline-element-subtitle {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }
}